@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary: #f15c5c;
  --skills-background: #0e0e0e;
  --experience-background: #121212;
  --hero-background: #1a0f0f;
}

.gradient-spacer::after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}


/* Reset default browser margin/padding */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

.white-icon {
  fill: white !important;    /* for SVG fill */
  color: white !important;   /* for font/icon fonts */
  filter: brightness(0) invert(1); /* fallback for img/svg without fill */
}
